<a href="https://colab.research.google.com/github/KopanoTsaro/Data-Analysis-With-Python/blob/main/Getting_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
"Hello once more"

'Hello once more'

In [3]:
2 + 2
3 * 3

9

In [4]:
print(2 + 2)
print(3 * 3)

4
9

In [5]:
# This is a comment

This is a normal text



```
# Heading

```
Rendering text to bold format example:

**Heading**

In [6]:
!ls

Getting_Started.ipynb  sample_data

In [7]:
%timeit [i**2 for i in range(1000)]

307 µs ± 10.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
%%timeit
L = []
for n in range (1000):
  L.append(n**2)

343 µs ± 7.55 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
# Creating Variables

In [10]:
salary = 17177

In [11]:
salary

17177

In [12]:
base_salary = 10000
bonus_rate = .10

In [13]:
total_salary = (base_salary) * (1 + bonus_rate)

In [14]:
total_salary

11000.0

In [15]:
company_name = "DataWiz Inc."

In [16]:
company_name

'DataWiz Inc.'

In [17]:
job_wfh = True

In [18]:
job_wfh

True

In [19]:
print("Data Job Description")
print("********************")
print("Job ID:       ", job_id)
print("Company Name: ", company_name)
print("Job Title:,   ", job_title)
print("Location:     ", job_location)
print("Salary:       ", job_salary)
print("WFH:          ", job_wfh)

Data Job Description
********************

NameError: name 'job_id' is not defined

In [20]:
type(10000)

int

In [21]:
type ("This text")

str

In [25]:
id(job_title)

139049646012848

In [26]:
def greet():
  return "What's up, Data Nerds!"

In [27]:
greet()

"What's up, Data Nerds!"

In [28]:
def display_info(title, location, salary):
  return print(f"JOB:       {title}\nLOCATION:  {location}\nSALARY:    ${salary:,.2f}")

In [29]:
display_info(job_title, job_location, job_salary)

JOB:       Data Analyst
LOCATION:  Botswana
SALARY:    $125,000.00

In [30]:
job_id = 101
job_title = 'Data Analyst'
job_location = 'Botswana'
job_salary = 125000

In [31]:
# Class is a blueprint of an Object
# See an example below - class JobPost

In [32]:
# Creating an example - class JobPost

class JobPost:
  def __init__(self, title, location, salary):
      self.title = title
      self.location = location
      self.salary = salary
  def display_info(self):
      return print(f"JOB:       {self.title}\nLOCATION:  {self.location}\nSALARY:    ${self.salary:,.2f}")

In [33]:
# Creating an instance of JobPost object
job_1 = JobPost(job_title, job_location, job_salary)

In [34]:
# Initialization tasks - using certain attributes of JobPost object we created above
# Using the dot notation to access those attributes
job_1.title

'Data Analyst'

In [35]:
# Methods - functions of an Object
# Using the dot notation to access methods
job_1.display_info()

JOB:       Data Analyst
LOCATION:  Botswana
SALARY:    $125,000.00

In [36]:
salary = 90000

In [37]:
type(salary)

int

In [38]:
salary.__add__(10)

90010

In [39]:
# Data Types - Integers, Strings, Float, Boolean

total_salary = 10100
bonus_salary = 1255

In [40]:
type(total_salary)

int

In [41]:
base_salary = total_salary - bonus_salary

base_salary

8845

In [46]:
skill = "Python"

In [47]:
# Data Types: Strings
# We can manipulate attributes of datatypes using functions
"Python".lower()

'python'

In [48]:
str.lower("python")

'python'

In [49]:
skill.lower()

'python'

In [ ]:
help(str)

In [51]:
# The Replace method
skill.replace("P", "J")

'Jython'

In [52]:
job_name = "Data Scientist" # rename Data as Doto

In [53]:
#positional arguments
job_name = job_name.replace('a', 'o', 2)

In [54]:
# The Split method
job_name.split(sep=" ", maxsplit=1)

['Doto', 'Scientist']

In [55]:
# The __add__ method example
str.__add__("Data", " Analyst")

'Data Analyst'

In [56]:
# Invoke __add__ method example
"Data".__add__(" Analyst")

'Data Analyst'