<a href="https://colab.research.google.com/github/KopanoTsaro/CSS-and-JavaScript---Single-Page-Flexbox-Website/blob/main/Getting_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
"Hello once more"

'Hello once more'

In [3]:
2 + 2
3 * 3

9

In [4]:
print(2 + 2)
print(3 * 3)

4
9

In [5]:
# This is a comment

This is a normal text



```
# Heading

```
Rendering text to bold format example:

**Heading**

In [6]:
!ls

sample_data

In [7]:
%timeit [i**2 for i in range(1000)]

303 µs ± 4.04 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
%%timeit
L = []
for n in range (1000):
  L.append(n**2)

441 µs ± 104 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [16]:
# Creating Variables

In [9]:
salary = 17177

In [10]:
salary

17177

In [14]:
base_salary = 17177
bonus_rate = .10

In [12]:
total_salary = (base_salary) * (1 + bonus_rate)

In [15]:
total_salary

18894.7

In [32]:
company_name = "DataWiz Inc."

In [33]:
company_name

'DataWiz Inc.'

In [21]:
job_wfh = True

In [22]:
job_wfh

True

In [26]:
job_id = 101
job_title = 'Data Analyst'
job_salary = 125000

In [37]:
print("Data Job Description")
print("********************")
print("Job ID:       ", job_id)
print("Company Name: ", company_name)
print("Job Title:,   ", job_title)
print("Salary:       ", job_salary)
print("WFH:          ", job_wfh)

Data Job Description
********************
Job ID:        101
Company Name:  DataWiz Inc.
Job Title:,    Data Analyst
Salary:        125000
WFH:           True